{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="/static/css/base.css"/>
{% endblock %}

{% block content %}
    <li id="plyyList"></li>
{% endblock %}

{% block script %}
    <script>        
        document.addEventListener('DOMContentLoaded', function() {
            fetchPlyy();
        });

        function fetchPlyy() {
            fetch('/api/')
            .then(response =>  response.json())
            .then(data => {
                const plyyList = document.getElementById('plyyList');
                data.forEach(plyy => {
                    const newItem = document.createElement('ul')
                    newItem.innerHTML = `<a href="/plyy/${plyy.plyy_uuid}">${plyy.plyy_title}</a>`
                    plyyList.appendChild(newItem);
                })
            })
            .catch(error => console.error('데이터를 처리하는 과정에서 오류가 발생하였습니다.'))
        };
    </script>
{% endblock %}