<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>플리상세</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!-- 헤더 -->
    <header class="header">
        <div class="align both">
            <div><button class="btn-logo" aria-label="플리 로고"></button></div>
            <div class="header__icon-group">
                <button class="btn-bell--default" aria-label="알림 없음"></button>
                <!-- <button class="btn-bell--new" aria-label="새로운 알림 있음"></button> -->
                <button class="btn-mylikes" aria-label="나의 좋아요"></button>
                <button class="btn-myprofile" aria-label="내 프로필"></button>
            </div>
        </div>
    </header>
    <!-- 메인 -->
    <main class="main">
        <div class="main__container">
            <!-- 플리 상세 타이틀 : 줄바꿈 없음 -->
            <div>
                <div class="title-type1">
                    <div><p class="h2">Last Summer Swing Vol. 3 
                        / LL YOON J MIX #12</p></div>
                </div>
                <div class="plyy-info align both pd8">
                    <div class="fs12">발행일 : 2024.08.02</div>
                    <div class="fs12">큐레이터 : LL YOON J</div>
                    <div class="fs12">00곡 | 1시간 2분</div>
                </div>
            </div>
            <!-- 플리 상세 목록 -->
            <div class="plyy">
                <div class="plyy__top">
                    <div>
                        <ul class="plyy__top__tag">
                            <li class="badge tag fs12"># RNB</li>
                            <li class="badge tag fs12"># NEWJACKWING</li>
                            <li class="badge tag fs12"># SUMMER</li>
                        </ul>
                    </div>
                    <div class="plyy__top__intro pretendard">뉴잭스윙을 시도하는 그룹이나 아티스트는 많았지만, 한 시대를 풍미한 이 장르는 최근 10년간 한국 음악 씬에서 주목받지 못했습니다.
                        그러나 케이팝의 최고 인기 그룹 뉴진스의 "Supernatural"로 인해 
                        뉴잭스윙이 마침내 메인스트림에서 주목받게 되어 정말 기쁩니다. 
                        이를 기념하기 위해 Murakami Takashi를 오마주한 아트워크와 함께 매년 여름마다 선보이는 믹셋을 업로드합니다.
                        오래 기다리셨습니다. 즐겁게 들어 주시고 시원한 여름 되세요! ☀️😎</div>
                </div>
                <div class="plyy__bottom">
                    <ul class="plyy__bottom__song-list">
                        <li>
                            <a href="" class="plyy__bottom__song-list__card">
                                <div class="plyy__bottom__song-list__card__img"><img src="images/@album_img.svg"></div>
                                <div class="plyy__bottom__song-list__card__info">
                                    <div class="fs14-bold">곡 제목</div>
                                    <div class="fs14">아티스트</div>
                                </div>
                                <div class="plyy__bottom__song-list__card__runtime fs14">3 : 02</div>
                            </a>
                        </li>
                        <li>
                            <a href="" class="plyy__bottom__song-list__card">
                                <div class="plyy__bottom__song-list__card__img"><img src="images/@album_img.svg"></div>
                                <div class="plyy__bottom__song-list__card__info">
                                    <div class="fs14-bold">곡 제목</div>
                                    <div class="fs14">아티스트</div>
                                </div>
                                <div class="plyy__bottom__song-list__card__runtime fs14">3 : 02</div>
                            </a>
                        </li>
                        <li>
                            <a href="" class="plyy__bottom__song-list__card">
                                <div class="plyy__bottom__song-list__card__img"><img src="images/@album_img.svg"></div>
                                <div class="plyy__bottom__song-list__card__info">
                                    <div class="fs14-bold">곡 제목</div>
                                    <div class="fs14">아티스트</div>
                                </div>
                                <div class="plyy__bottom__song-list__card__runtime fs14">3 : 02</div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
    <!-- 푸터 : 현재 이미지 박아넣음. 추후 컴포넌트화 필요-->
    <footer class="footer">
        <div>
            <div class="footer__img"></div>
        </div>
    </footer>
</body>
</html>