{% extends "base_footer.html" %}

{% block container %}
    {% block search %}
        {% block tab %}
    <!-- 메인 검색결과 탭 -->
    <div>
        <div class="tab-type3 align left" onclick="location.href='/'">
            <div><button class="btn__arrow-left--white"></button></div>
            <div><button class="h2">notification</button></div>
        </div>
    </div>

    {% endblock %}
        
    {% endblock %}
    
    <!-- 알림 내역 -->
    {% block content %}      
        <ul class="plyy-card mg32" id="mainList"></ul>

        <!-- 메인화면 화살표 플로팅 아이콘 -->
        <div class="fixed-floating"><button class="btn__main__arrow" aria-label="메인에서 위로가기"></button></div>
    {% endblock %}
    
{% endblock %}

{% block search_script %}
    <script>
        const mainList = document.getElementById('mainList');

        function fetchNotification() {
            
        }
    </script>
{% endblock %}


{% block script %}
    <script>
        let id = '';

        document.addEventListener('DOMContentLoaded', function() {
            let url = window.location.href;
            url = url.split('/');
            id = url[url.length - 1];
            fetchPlyy(`/api/like/plyy/${id}`);
            document.title =  'LIKES | PLYY';
        });

        plyyTab.addEventListener('click', function(event){
            document.title = 'LIKES | PLYY';
            clearList();
            fetchPlyy(`/api/like/plyy/${id}`);
            tab_status = 'plyy';
            mainTab.classList.remove('tab-type2');
            mainTab.classList.add('tab-type1');
            plyyTab.classList.remove('tab-type1--deactive');
            curatorTab.classList.add('tab-type1--deactive');
        });


        curatorTab.addEventListener('click', function(event){
            document.title = 'LIKES | CURATOR';
            clearList();
            fetchCurator(`/api/like/curator/${id}`);
            tab_status = 'curator';
            mainTab.classList.remove('tab-type1');
            mainTab.classList.add('tab-type2');
            curatorTab.classList.remove('tab-type1--deactive');
            plyyTab.classList.add('tab-type1--deactive');
        });
    </script>
{% endblock %}