{% extends "base.html" %}

{% block container %}
    {% block search %}
        <div class="m16" style="margin-top: 32px;">
            <!-- 검색창 -->
            <div class="search" style="margin-bottom: 16px;">
                <div class="align both">
                    <div class="search_input_box"><input type="text" class="search__input" placeholder="검색어를 입력하세요"></div>
                    <div class="search_icon_group align both">
                        <button class="btn-hash"></button>
                        <button class="btn-search"></button>
                    </div>
                </div>
            </div>

        <!-- 태그바 -->
        {% block tag %}{% endblock %}

        <!-- 토글바 -->
        {% block tab %}{% endblock %}

        </div>
    {% endblock %}
    
    {% block content %}{% endblock %}
{% endblock %}