{% extends "base_search.html" %}

<!-- div class="m16" -->
    <!-- 추천 태그 -->
    {% block tag %}
        <nav>
            <ul class="search_by_tag" id="tag"></ul>
        </nav>
    {% endblock %}

    <!-- 토글바 -->
    {% block tab %}
        <nav style="margin-top: 32px;">
            <ul class="tab-type1">
                <li class="tab-type1--active" id="plyy_tab"><button>PLYY</button></li>
                <li class="tab-type1--inactive" id="curator_tab"><button>CURATOR</button></li>
            </ul>
        </nav>
    {% endblock %}
<!-- /div -->

    {% block content %}
        <!-- 플리 & 큐레이터 카드 -->
        <ul class="plyy_card_list" id="mainList"></ul>
    {% endblock %}

{% block script %}
    <script>   
        document.addEventListener('DOMContentLoaded', function() {
            fetchTag();
            fetchPlyy();
        });


        // 추천 태그
        function fetchTag() {
            fetch('/api/main/tag')
            .then(response => response.json())
            .then(data => {
                const searchByTag = document.getElementById('tag')
                data.forEach(data => {
                    const newItem = document.createElement('li');
                    newItem.textContent = '# ' + data.tag;
                    searchByTag.appendChild(newItem);
                })
            }).catch(error => console.error('데이터를 처리하는 과정에서 오류가 발생하였습니다.'))
        };


        // 플리 카드
        function fetchPlyy() {
            fetch('/api/main/plyy')
            .then(response =>  response.json())
            .then(data => {
                document.title = 'PLYY';
                const plyyList = document.getElementById('mainList');
                data.forEach((plyy, index) => {
                    let dateTagId = 'dateTag' + index;
                    let plyyTagId = 'plyyTag' + index;
                    let heartId = 'heart' + index; 
                    const plyyCard = document.createElement('li');
                    plyyCard.innerHTML = 
                        `<a href="./plyy/${plyy.id}" class="plyy_card__info">` +
                            '<div class="plyy_card__thumb">' +
                                `<div id="${dateTagId}" class="badge green"></div>` +
                                `<img src="@static/images/plyy/${plyy.img}" class="plyy_card__thumb__large">` +
                                '<div class="plyy_card__taglist">' +
                                    `<div class="badges tag"># ${plyy.genre}</div>` +
                                    `<div id="${plyyTagId}" class="badges tag"></div>` +
                                '</div>' +
                                `<button class="btn-plike__true" id=${heartId} aria-label="플레이리스트 좋아요"></button>` +
                            '</div>' +
                            '<div class="plyy_card__detail">' +
                                '<div>' +
                                    `<div class="plyy_card__detail--title">${plyy.title}</div>` +
                                    '<div class="align both">' +
                                        `<div class="plyy_card__detail--cname">${plyy.curator}</div>` +
                                        `<div class="plyy_card__detail--count">${plyy.tracks}곡 | ${plyy_time(plyy.times)}</div>` +
                                    '</div>' +
                                '</div>' +
                            '</div>' +
                        '</a>';

                    plyyList.appendChild(plyyCard);

                    // NEW | UPDATE 태그
                    let dateTag = document.getElementById(dateTagId);
                    isDate = isTag(plyy.generate, plyy.update);
                    if (isDate) {
                        dateTag.textContent = isDate;
                    } else {
                        dateTag.style.visibility = "hidden";
                    };
                    
                    // 플리태그 2개까지
                    let plyy_tag = document.getElementById(plyyTagId);
                    if (plyy.tag) {
                        plyy_tag.textContent = '#' + plyy.tag;
                    } else {
                        plyy_tag.style.visibility = "hidden";
                    };

                    // 플리 하트
                    let heart = document.getElementById(heartId);
                    heart.addEventListener('click', function(event) {
                        event.preventDefault();
                        // event.stopPropagation();  # 이벤트용 처리 막기
                    });
                })
            })
            .catch(error => console.error('데이터를 처리하는 과정에서 오류가 발생하였습니다.'))
        };

        
        // 큐레이터 카드
        function fetchCurator() {
            fetch('/api/main/curator')
            .then(response => response.json())
            .then(data => {
                document.title = 'PLYY | CURATOR';
                const curatorList = document.getElementById('mainList');
                data.forEach((c, index) => {
                    let updateTagId = 'updateTag' + index;
                    let curatorTagId1 = 'curatorTag1' + index;
                    let curatorTagId2 = 'curatorTag2' + index;
                    let heartId = 'heart' + index;
                    const curatorCard = document.createElement('li');
                    curatorCard.innerHTML =
                        `<a href="./curator/${c.id}" class="curator_card__info">` +
                            '<div class="curator_card__thumb">' +
                                `<div id="${updateTagId}" class="badge green">UPDATE</div>` +
                                `<img src="static/images/curator/${c.img}" class="curator_card__thumb__large">` +
                                '<div class="curator_card__taglist">' +
                                    `<div id="${curatorTagId1}" class="badges tag"></div>` +
                                    `<div id="${curatorTagId2}" class="badges tag"></div>` +
                                '</div>' +
                                `<button class="btn-clike__true" id=${heartId} aria-label="큐레이터 좋아요"></button>` +
                            '</div>' +
                            '<div class="curator_card__detail">' +
                                '<div>' +
                                    `<div class="curator_card__detail--title">${c.name}</div>` +
                                    '<div class="align both">' +
                                        `<div class="curator_card__detail--cintro">${c.intro}</div>` +
                                    '</div>' +
                                '</div>' +
                            '</div>' +
                        '</a>';
                    curatorList.appendChild(curatorCard); 
                    
                    // UPDATE 태그
                    let updateTag = document.getElementById(updateTagId);
                    let isUpdate = isTag(c.generate, c.update);
                    if (!(isUpdate)) {
                        updateTag.style.visibility = "hidden";
                    };
                    
                    // 큐레이터의 플리 태그 2개까지
                    let curatorTag1 = document.getElementById(curatorTagId1);
                    let curatorTag2 = document.getElementById(curatorTagId2);
                    let tag = [curatorTag1, curatorTag2];
                    if (c.tag == '') {
                        tag[0].style.visibility = "hidden";
                        tag[1].style.visibility = "hidden";
                    }
                    c.tag.forEach((element, index) => {
                        if (element == '') {
                            tag[index].style.visibility = "hidden";
                        } else {
                            tag[index].textContent = '#' + element;
                        }
                    });

                    let heart = document.getElementById(heartId);
                    heart.addEventListener('click', function(event) {
                        event.preventDefault();
                        // event.stopPropagation();  # 이벤트 용 처리 막기
                    });
                })
            })
            .catch(error => console.error('데이터를 처리하는 과정에서 오류가 발생하였습니다.'))
        };


        function clearList(){
            const mainList = document.getElementById('mainList');
            while(mainList.firstChild)
                mainList.removeChild(mainList.firstChild);
        };


        plyyTag = document.getElementById('plyy_tab');
        curatorTag = document.getElementById('curator_tab');


        plyyTag.addEventListener('click', function(event){
            clearList();
            fetchPlyy();
        });


        curatorTag.addEventListener('click', function(event){
            clearList();
            fetchCurator();
        });

    </script>
    <script src="/static/js/runtime.js"></script>
    <script src="/static/js/tag.js"></script>
{% endblock %}