{% extends "base_search.html" %}

<!-- div class="m16" -->
    <!-- 추천 태그 -->
    {% block tag %}
        <nav>
            <ul class="search_by_tag" id="tag"></ul>
        </nav>
    {% endblock %}

    <!-- 토글바 -->
    {% block tab %}
        <nav style="margin-top: 32px;">
            <ul class="tab-type1">
                <li class="tab-type1--active" id="plyy_tab"><button>PLYY</button></li>
                <li class="tab-type1--inactive" id="curator_tab"><button>CURATOR</button></li>
            </ul>
        </nav>
    {% endblock %}
<!-- /div -->

    {% block content %}
        <!-- 플리 카드 -->
        <ul class="plyy_card_list" id="plyy_list"></ul>
    {% endblock %}

{% block script %}
    <script>   
        document.addEventListener('DOMContentLoaded', function() {
            document.title = 'PLYY';
            fetchTag();
            fetchPlyy();
        });

        function fetchTag() {
            fetch('/api/main/tag')
            .then(response => response.json())
            .then(data => {
                const search_by_tag = document.getElementById('tag')
                data.forEach(data => {
                    const newItem = document.createElement('li');
                    newItem.textContent = '# ' + data.tag;
                    search_by_tag.appendChild(newItem);
                })
            }).catch(error => console.error('데이터를 처리하는 과정에서 오류가 발생하였습니다.'))
        };

        
        function fetchPlyy() {
            fetch('/api/main/plyy')
            .then(response =>  response.json())
            .then(data => {
                const plyy_list = document.getElementById('plyy_list');
                data.forEach(plyy => {
                    let tagId = 'tag' + plyy.plyy_uuid;
                    let heartId = 'heart' + plyy.plyy_uuid; 
                    const plyy_card = document.createElement('li');
                    plyy_card.innerHTML = 
                        `<a href="./plyy/${plyy.plyy_uuid}" class="plyy_card__info">` +
                            '<div class="plyy_card__thumb">' +
                                `<div id="${tagId}">abc</div>` +
                                `<img src="@static/images/plyy/${plyy.plyy_img}" class="plyy_card__thumb__large">` +
                                '<div class="plyy_card__taglist">' +
                                    `<div class="badges tag"># ${plyy.genre}</div>` +
                                    `<div class="badges tag"># ${plyy.tag}</div>` +
                                '</div>' +
                                `<button class="btn-plike__true" id=${heartId} aria-label="플레이리스트 좋아요"></button>` +
                            '</div>' +
                            '<div class="plyy_card__detail">' +
                            '<div>' +
                                `<div class="plyy_card__detail--title">${plyy.plyy_title}</div>` +
                                '<div class="align both">' +
                                    `<div class="plyy_card__detail--cname">${plyy.curator}</div>` +
                                    `<div class="plyy_card__detail--count">${plyy.tracks}곡 | ${plyy_time(plyy.times)}</div>` +
                                '</div>' +
                            '</div>' +
                        '</div>' +
                    '</a>';
                                   
                    if (tag(plyy.generate, plyy.update)) {
                        date_tag = tag(plyy.generate, plyy.update);
                        console.log(tagId);
                        plyy_date_tag = document.getElementById(tagId);
                        console.log(plyy_date_tag);
                        plyy_date_tag.textContent = date_tag;
                        plyy_date_tag.classList.add('badges', 'green');
                    }

                    plyy_list.appendChild(plyy_card)
                });
            })
            .then(function(){
                heart = document.getElementById(heartId);
                console.log(heart)
                heart.addEventListener('click', function(event) {
                    event.preventDefault();
                    // event.stopPropagation();  # 이벤트 용 처리 막기
                })
            })
            .catch(error => console.error('데이터를 처리하는 과정에서 오류가 발생하였습니다.'))
        };

        

        function fetchCurator() {
            fetch('/api/main/curator')
            .then(response => response.json())
            .then(data => {
                const curatorList = document.getElementById('mainList');
                data.forEach(c => {
                    const newItem = document.createElement('ul');
                    tags = '';
                    c.tags.forEach(tag => {
                        tags +=  ' #' + tag.tag_name;
                    });
                    newItem.innerHTML = `<div onclick="location.href='./curator/${c.c_uuid}'">` +
                                            `<img src="./static/img/${c.c_img}">` +
                                            '<div>' +
                                                '<p>' + tags + '</p>' +
                                                '<p>' + c.c_name + '</p>' +
                                                '<p>' + c.c_intro + '</p>' +
                                            '</div>' +
                                        '</div>';
                    newItem.classList.add('pointer');
                    curatorList.appendChild(newItem);
                })
            })
            .catch(error => console.error('데이터를 처리하는 과정에서 오류가 발생하였습니다.'))
        };

        function selectPlyy() {
            clearList();
            fetchPlyy();
        }

        function selectCurator() {
            clearList();
            fetchCurator();
        }

        function clearList(){
            const mainList = document.getElementById('mainList');
            while(mainList.firstChild)
                mainList.removeChild(mainList.firstChild);
        }
    </script>
    <script src="/static/js/runtime.js"></script>
    <script src="/static/js/tag.js"></script>
{% endblock %}