{% extends "base_search.html" %}

<!-- div class="main__container" -->
    <!-- 추천 태그 -->
    {% block tag %}
        <nav class="vertical-scroll">
            <ul class="search-tags" id="tag"></ul>
        </nav>
    {% endblock %}

    <!-- 메인 탭 -->
    {% block tab %}
        <nav>
            <ul class="tab-type1" id="tab-type">
                <li><button class="h2" id="plyy_tab">PLYY</button></li>
                <li class="tab-type1--deactive" id="curator_tab"><button class="h2">CURATOR</button></li>
            </ul>
        </nav>
    {% endblock %}
<!-- /div -->
    
    <!-- 플리 & 큐레이터 카드 -->
    {% block content %}      
        <ul class="plyy-card mg32" id="mainList"></ul>
    {% endblock %}

{% block script %}
    <script>   
        let tab_status = 'plyy';
        const mainList = document.getElementById('mainList');
        document.addEventListener('DOMContentLoaded', function() {
            fetchTag();
            fetchPlyy();
        });

        // 추천 태그
        function fetchTag() {
            fetch('/api/main/tag')
            .then(response => response.json())
            .then(data => {
                const searchByTag = document.getElementById('tag')
                data.forEach(data => {
                    const newItem = document.createElement('li');
                    newItem.innerHTML = '<a class="fs12 badge tag"># ' + data.tag + '</a>';
                    searchByTag.appendChild(newItem);
                })
            }).catch(error => console.error('데이터를 처리하는 과정에서 오류가 발생하였습니다.'))
        };


        function clearList(){
            while(mainList.firstChild)
                mainList.removeChild(mainList.firstChild);
        };


        plyyTag = document.getElementById('plyy_tab');
        curatorTag = document.getElementById('curator_tab');
        mainTab = document.getElementById('tab-type')

        plyyTag.addEventListener('click', function(event){
            clearList();
            fetchPlyy();
            tab_status = 'plyy';
            mainTab.classList.remove('tab-type2');
            mainTab.classList.add('tab-type1');
        });


        curatorTag.addEventListener('click', function(event){
            clearList();
            fetchCurator();
            tab_status = 'curator';
            mainTab.classList.remove('tab-type1');
            mainTab.classList.add('tab-type2');
        });

    </script>
    <script src="/static/js/runtime.js"></script>
    <script src="/static/js/tag.js"></script>
    <script src="../static/js/plyyCard.js"></script>
    <script src="../static/js/curatorCard.js"></script>
{% endblock %}