{% extends "base copy.html" %}
{% block style %}
<link rel="stylesheet" href="/static/css/base.css"/>
{% endblock %}

{% block content %}
    <div>
        <div class="plyy_title_box">
            <div id="plyy_title"></div>
            <div id="line"></div>
        </div>
            <div id="info">
                <div id="date"></div>
                <div id="curator"></div>
                <div id="total"></div>
                <div id="heart"></div>
            </div>
            <div class="plyy_container">
                <div id="tag_container"></div>
                <div id="comment" class="comment"></div>
                <hr style="border:0px; height:4px; background:#F15A22; width: 100%;">
                <li class="pointer" id="tracks"></li>
            </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var url = window.location.href;
            url = url.split('/');
            let plyyId = url[url.length - 1];
            fetchPlyyDetail(plyyId);
        });
        
        function fetchPlyyDetail(plyyId) {
            fetch(`/api/plyy/${plyyId}`)
            .then(response =>  response.json())
            .then(data => {
                total_rtime = 0;
                document.title = data.info.plyy_title + ' | PLYY';
                const plyy_title = document.getElementById('plyy_title');
                const date = document.getElementById('date');
                const curator = document.getElementById('curator');
                const heart = document.getElementById('heart');
                const total = document.getElementById('total');
                const tagContainer = document.getElementById('tag_container');
                const comment = document.getElementById('comment');
                plyy_title.textContent = data.info.plyy_title;
                if (data.info.generate < data.info.update) {
                    date.innerHTML  = '수정일 : ' + data.info.update.replace(/-/g, '.');
                } else {
                    date.innerHTML  = '발행일 : ' + data.info.generate.replace(/-/g, '.');
                }
                curator.innerHTML = '<p>큐레이터 : ' + data.info.curator + '</p>';
                heart.innerHTML = '<img src="/static/source/heart_white.svg">' + data.info.heart;
                comment.textContent = data.info.comment;
                const genre = document.createElement('span');
                genre.textContent = '#' + data.info.genre;
                tagContainer.appendChild(genre);
                data.tags.forEach(data => {
                    const tag = document.createElement('span');
                    tag.textContent = '#' + data.tag_name;
                    tagContainer.appendChild(tag);
                });
                const lst = document.getElementById('tracks')
                data.tracks.forEach(track => {
                    const newItem = document.createElement('ul');
                    newItem.innerHTML = 
                        `<div onclick="location.href='./${plyyId}/${parseInt(track.song_index) + 1}'">` +
                            '<div>' +
                                '<div>' + `<img src="${track.img}">` +
                                    '<div>' + 
                                        '<b>' + '<p lang="ko">' + `${track.title}` + '</p>' + '</b>' +
                                        '<p lang="ko">' + `${track.artist}` + '</p>' +
                                    '</div>' +
                                '</div>' +
                                    '<div>' + `${String(song_time(track.track_rtime))}` + '</div>' +
                            '</div>' +
                        '</div>';
                    lst.appendChild(newItem);
                    total_rtime = total_rtime + parseInt(track.track_rtime);
                })
                total.innerHTML = data.tracks.length + '곡 | ' + plyy_time(total_rtime);
            })
            .catch(error => console.error('데이터를 처리하는 과정에서 오류가 발생하였습니다.'))
        };

        // window.onload = function() {
        //     let url = window.location.href
        //     url = url.split('/')
        //     let plyyId = url[url.length - 1]
        //     fetchPlyyDetail(plyyId);
        // };
        </script>
        <script src="/static/js/runtime.js"></script>
{% endblock %}