{% extends "base_none.html" %}
{% block style %}
<link rel="stylesheet" href="/static/css/base.css"/>
{% endblock %}

{% block content %}
    <iframe id="video" width=100%></iframe>
    <br><br>
    <div id="page" style="text-align: center;"></div>
    <div id="info_song">
        <img id="image">
        <div>
            <li id="song">
                <ul id="song_title"></ul>
                <ul id="song_artist"></ul>
                <ul id="song_album"></ul>
            </li>
        </div>
    </div>
    <div class="comment">
        <div id="song_comment"></div>
    </div>
{% endblock %}

{% block script %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let url = window.location.href;
            url = url.split('/');
            let plyyId = url[url.length - 2];
            let song_num = url[url.length - 1] - 1;
            fetchSong(plyyId, song_num);
        });
        
        function fetchSong(plyyId, song_num) {
            fetch(`/api/plyy/${plyyId}/${song_num}`)
            .then(response =>  response.json())
            .then(track => {
                document.title =  track.title + ' | PLYY';
                const video = document.getElementById('video');
                const image = document.getElementById('image');
                const page = document.getElementById('page');
                const song_title = document.getElementById('song_title');
                const artist = document.getElementById('song_artist');
                const album = document.getElementById('song_album');
                if (track.comment) {
                    newItem = document.createElement('div');
                    const song_comment = document.getElementById('song_comment');
                    newItem.textContent = track.comment;
                    song_comment.appendChild(newItem);
                }
                video.setAttribute('src', `${track.vid}`);
                image.setAttribute('src', `${track.img}`);
                page.textContent = song_num + 1 + ' / ' + track.total_index;
                song_title.textContent = track.title;
                artist.textContent = track.artist;
                album.textContent = track.album
            })
            .catch(error => console.error('데이터를 처리하는 과정에서 오류가 발생하였습니다.'))
        };
    </script>
{% endblock %}